/*
* Imports and font face
*/
@import url("./Variables.scss");
@font-face {
  font-family: "NTR";
  font-weight: 200;
  font-display: fallback;
  src: url("/public/fonts/NTR-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "NTR", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    sans-serif;
}

* {
  line-height: 1.3;
}
