@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500&display=swap");

.App {
  background-color: var(--light-navy);
  /*border: 1px solid;
  */padding: 2rem;
  margin: 0 .5rem;
  box-shadow: rgba(255, 255, 255, 0.09) 0px 3px 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

:root {
  --green-bright: #64ffda;
  --light-navy: #112240;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--light-navy);
  
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

.profile,
.skills {
  text-align: center;
}

.profile-photo {
  /* max-width: 100px; */
  width: 124px;
  height: 124px;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-title,
.profile > p,
.skills > p,
.skills__stack-box > li,
footer > p {
  letter-spacing: 2px;
}
.profile-title {
  font-size: 2.5rem;
}

.skills {
  margin-top: 3rem;
}

.skills > p {
  font-weight: 600;
  font-size: 1.5rem;
}

.skills__stack {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 100px), 2fr));
  gap: 10px;
  list-style: none;
  margin-left: -40px;
  margin-top: 3rem;
}

.skills__stack-box {
  display: flex;
}

.skills__stack-box > li {
  padding: 0.25rem 1rem 0.25rem 1rem;
  background-color: var(--green-bright);
  border: 1px solid var(--green-bright);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: black;
}

footer {
  position: relative;
  bottom: -100px;
  height: 50px;
  text-align: center;
  /* width: 25%; */
}

footer > p, .App {
  color: var(--lightest-slate);
}