html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-weight: 500;
}

main {
  margin-top: 4rem;
}

footer {
  margin-top: 5rem;
  bottom: 0px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

code {
  font-size: 0.7rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  font-weight: 800;
  display: inline-block;
}

a {
  text-decoration: none;
}

a:hover {
  transition: ease-in 100ms;
  -webkit-transition: ease-in 100ms;
  -moz-transition: ease-in 100ms;
  -ms-transition: ease-in 100ms;
  -o-transition: ease-in 100ms;
}

input {
  margin: 1rem 0;
  outline: none;
  padding: 0.45rem 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 16px;
  width: 70%;
}

.action-wrapper {
  display: flex;
  flex-flow: column wrap;
  /* gap: 20px; */
  row-gap: 10px;
  position: fixed;
  right: 1%;
  top: 20%; 
}

.action-wrapper > .button.margin:last-child {
  margin: 0;
}

.login-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#login-message {
  margin-bottom: 4rem;
  position: relative;
  left: -10%;
  display: flex;
  /* white-space: nowrap; */
  width: 350px;
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  /* border: 1px solid white; */
}

.display-datetime {
  position: fixed;
  right: 2.5%;
  top: 37%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.welcome-message {
  text-align: center;
  color: var(--accent-color);
}

.social-links {
  font-size: 1rem;
}

 .social-links > a:hover {
  text-decoration: underline;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  min-height: 100vh;
}

.header-wrapper {
  width: 80vw;
}

.header-wrapper,
.main-wrapper {
  padding-left: 15%;
  padding-top: 5%;
}

.intro-img-container {
  display: flex;
}

.img-container {
  display: flex;
  max-width: 300px;
  height: auto;
}

.img-element {
  max-width: 100%;
  height: auto;
}

.intro-img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  object-position: 0 0;
  width: 160px;
  height: 160px;
}

.intro-title {
  font-size: 4em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.intro-second-title {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.nav-wrapper {
  display: flex;
  flex-flow: column wrap;
  margin-right: 15%;
  position: relative;
  margin-top: 1rem;
  right: 50px;
}

.nav-wrapper > a {
  text-align: right;
  margin-bottom: .30rem;
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: 600;
}

.nav-wrapper > a:hover {
  color: var(--button-text-color-hover);
}

.intro-info-container {
  position: fixed;
  right: 0;
  bottom: 10%;
}

.intro-info-top {
  position: fixed;
  top: 10%;
  right: 0;
}

.intro-info-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-end;
  padding-right: 2rem;
  max-width: 100%;
  
}

#theme-toggler {
  position: fixed;
  top: 40px;
  right: 2%;
}

.intro-info {
  font-weight: bolder;
}

.fn-input {
  font-weight: 600;
}

.paragraph {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
}

.section-header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 10vh;
}

.section-title {
  font-size: 46px;
}

.section-header::after {
  content: "";
  display: block;
  width: 300px;
  margin-top: 10px;
  /* height: 1px; */
  margin-left: 20px;
}

.tech-stack {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 10px));
  margin-left: -20px;
  list-style: none;
}

.tech-stack > li::before {
  content: url(../images/icon-check.svg);
  margin-left: -1rem;
  margin-right: 0.5rem;
}

.contact-box {
  margin: 2rem 0.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.contact-box > label {
  font-size: 1.5rem;
}

.button {
  padding: 0.75rem 3rem;
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  outline: none;
  font-weight: 500;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.button:hover {
  cursor: pointer;
}

.button.margin,
.margin {
  margin-top: 2rem;
}

.button--submit:hover {
  transition: ease-out 200ms;
  -webkit-transition: ease-out 200ms;
  -moz-transition: ease-out 200ms;
  -ms-transition: ease-out 200ms;
  -o-transition: ease-out 200ms;
}

.code-block {
  margin-top: 0.75rem;
  white-space: pre-wrap;
}

.action-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

.action-center > div > h2,
.action-center > h2 {
  text-align: center;
}

.action-center > div:nth-child(1) {
  margin-top: 5rem;
}

.aritmethic-box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.aritmethic-box > button {
  margin-right: 0.75rem;
}

.aritmethic-box > p {
  margin-right: 2rem;
  padding: 0.45rem 3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#topics-section > h3 {
  margin-top: 3rem;
  margin-bottom: -0.5rem;
}

.footer-wrap {
  width: 100%;
  /* position: fixed; */
  bottom: 0px;
}

#theme-toggler:hover {
  cursor: pointer;
}

.fas {
  margin-bottom: .75rem;
}
