@media screen and (max-width: 480px) {
  .App,
  .main,
  .paragraph {
    margin: 0;
    padding: 0;
  }

  .App {
    padding: 7%;
  }

  .header-wrapper,
  .main-wrapper {
    padding-left: 0;
    padding-top: 0;
  }

  .intro-info-container {
    width: 85vw;
    position: static;
  }

  .intro-info-top {
    position: static;
  }

  .intro-info-wrapper {
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3rem;
    padding: 0;
  }

  .nav-wrapper {
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  .intro-img-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro-title {
    text-align: center;
  }

  .paragraph {
    max-width: 100vw;
  }

  .section-header::after {
    display: none;
  }

  .action-center {
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact-box {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
  }

  .aritmethic-box {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .aritmethic-box > button {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  #theme-toggler {
    position: relative;
    top: 5px;
    left: -90%;
  }
}

@media screen and (min-width: 481px) and (max-width: 899px) {
  .App, .header-wrapper, .main-wrapper {
    padding: 5%;
    margin: 0;
  }

  .intro-info-container {
    width: 85vw;
    position: relative;
  }

  .intro-info-top {
    position: relative;
  }

  .nav-wrapper {
    flex-flow: row wrap;
    justify-content: end;
    margin-bottom: 2rem;
    margin-top: 2rem;
    right: -8%;
  }

  .nav-wrapper > a:not(:last-child) {
    margin-right: 1rem;
  }

  #theme-toggler {
    left: 2%;
  }

  /* #side-navbar {
    display: flex;
    justify-content: flex-end;
  } */
}

@media screen and (min-width: 900px) {
  .paragraph {
    max-width: 50vw;
  }
}
