@media screen and (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  .intro-img-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main,
  .intro-description {
    width: 100%;
  }
}
