:root {
  --bg-red: #e64b4f;
}
body {
  background-color: var(--bg-red);
}

p,
h1 {
  color: rgba(0, 0, 0, 0.821);
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  background-color: white;
  width: 600px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  /*margin: 5rem 2rem;*/
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.subscribe__header,
.subscribe__inputs,
.subscribe__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe__header {
  margin: 4rem 0 3rem 0;
}

.subscribe__header > h1 {
  margin-bottom: 3rem;
}

.subscribe__inputs > input {
  margin-bottom: 0.75rem;
  padding: 0.25rem 0.45rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.821);
}

.subscribe__cta {
  margin: 2rem 0 3rem 0;
}

.subscribe__cta > button {
  padding: 0.5rem 4rem;
  border: none;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.subscribe__cta > button:hover {
  cursor: pointer;
}

.subscribe__cta-black {
  background-color: rgba(0, 0, 0, 0.821);
  color: white;
}

@media screen and (max-width: 480px) {
  .App {
    margin: 0.5rem;
  }
  main {
    padding: 1rem;
  }
  p {
    text-align: center;
  }
}
